// lifted from emfcamp/Website:css/_variables.scss
$brand-2026-orange: #f77f02;
$brand-2026-coral: #f5515e;
$brand-2026-yellow: #f9e200;
$brand-2026-green: #2ae28c;
$brand-2026-light-blue: #2eadd9;  
$brand-2026-mid-blue: #005d96;
$brand-2026-dark-blue: #000730;

$emf-colours: (
  "emf-orange": $brand-2026-orange,
  "emf-coral": $brand-2026-coral,
  "emf-yellow": $brand-2026-yellow,
  "emf-green": $brand-2026-green,
  "emf-light-blue": $brand-2026-light-blue,
  "emf-mid-blue": $brand-2026-mid-blue,
  "emf-dark-blue": $brand-2026-dark-blue,
);

// EMF 2026 orange
$primary: $brand-2026-orange;

// EMF 2026 coral
$secondary: $brand-2026-coral;

$headings-font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;

$td-enable-google-fonts: true;

$td-google-font-name: "Raleway";
$td-google-font-family: "Raleway:ital,wght@0,300..900;1,300..900";
